/*neutral*/
body {
	font-family: 'karla', sans-serif;
}
.ctas-button {
	color: #444;
}
.ctas-button-2 {
	border: 1px solid #333;
}
.ctas-button {
	background: rgba(0,0,0,.1);
}
.ctas-button-2 {
	background: #444;
}
.ctas-input {
	background: rgba(0,0,0,.05)
}@import url('https://fonts.googleapis.com/css?family=Karla:400,700');
*,
*:before,
*:after {
  margin: 0;
  box-sizing: border-box;
}
body {
  -webkit-font-smoothing: antialiased;
}
/*text*/
.heading {
  font-weight: 100;
  font-size: 50px;
  line-height: 68px;
}
@media (max-width: 900px) {
.heading {
    font-size: 32px;
    line-height: 40px;
  }
}
.subheading {
  font-size: 30px;
  line-height: 40px;
  font-weight: 500;
}
@media (max-width: 900px) {
  .subheading {
    font-size: 26px;
    line-height: 35px;
  }
}
.paragraph {
  font-size: 17px;
  line-height: 32px;
  font-weight: 100;
}
.heading + .paragraph {
  margin-top: 30px;
}
.subheading + .paragraph {
  margin-top: 10px;
}
p.paragraph {
  color: rgba(0,0,0,.5);
}
.logo {
  color: #000000;
  text-decoration: inherit;
  font-size: 30px;
  line-height: 30px;
  font-weight: 900;
}
@media (max-width: 420px) {
  .logo {
    font-size: 22px;
  }
}
.nav-link2,
.nav-link {
  text-decoration: none;
  font-size: 18px;
  line-height: 30px;
  color: inherit;
}
.nav-link:not(:first-of-type) {
  margin-left: 20px;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
/*flexbox styles*/
.flex,
.spread,
.center,
.right,
.vertical,
.centervertical {
  display: flex;
}
.spread {
  justify-content: space-between;
}
.center {
  align-items: center;
  justify-content: center;
}
.centervertical {
  flex-direction: column;
  justify-content: center;
}
.right {
  justify-content: flex-end;
}
.vertical {
  flex-direction: column;
}
/*grid*/
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  padding: 0 20px;
}
.col-1 {width: 8.333333%;}
.col-2 {width: 16.666667%;}
.col-3 {width: 25%;}
.col-4 {width: 33.333333%;}
.col-5 {width: 41.666667%;}
.col-6 {width: 50%;}
.col-7 {width: 58.333333%;}
.col-8 {width: 66.666667%;}
.col-9 {width: 75%;}
.col-10 {width: 83.333333%;}
.col-11 {width: 91.666667%;}
.col-12 {width: 100%;}

/*containers*/
.container-lrg,
.container-sml {
  margin: auto;
  width: 100%;
}
.container-lrg {
  max-width: 1080px;
}
.container-sml {
  max-width: 700px;
}
.ctas {
  margin: 40px 0 0 0;
}
.centerdevices,
.sidedevices {
  position: relative;
}
.header {
	padding: 20px 0;
	overflow: hidden;
}
.header .heading {
	margin: 120px 0 0 0;
}
.header .centerdevices {
	margin: 60px 0 60px;
}
@media (max-width: 900px) {
  .header {
    padding-bottom: 20px;
  }
	.header .heading {
		margin-top: 60px;
	}
}.ctas-input {
	outline: none;
	border: none;
	border-radius: 3px;
	font-size: 15px;
	height: 40px;
	line-height: 40px;
	padding: 0 15px;
	width: 260px;
	display: inline-block;
}
.ctas-button {
	display: inline-block;
	margin: 0 0 0 10px;
	height: 40px;
	line-height: 38px;
	padding: 0 30px;
	background: #fff;
	border-radius: 3px;
	font-size: 15px;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: .3px;
	border: 1px solid white;
	text-decoration: none;
}
@media (max-width: 440px) {
	.ctas-input,
	.ctas-button {
		display: block;
		width: 100%;
		text-align: center;
	}
	.ctas-button {
		margin: 10px 0 0 0;
	}
}
.socialproof {
	padding: 90px 0;
}
.socialproof img {
  width: 100%;
	/*max-height: 45px;*/
	/*max-width: 100%;*/
	/*margin-top: 45px;*/
}
.socialproof .heading {
  margin: 90px 0;
  font-size: 20px;
  line-height: 40px;
}
@media (max-width: 600px) {
  .socialproof {
  	padding: 0;
  }
	.socialproof .col-3 {
		width: 33.33%;
	}
  /*.hero {
    width: 100%;
  }*/
  /*.socialproof .heading {
    margin: 40px 0;
  }*/
}
.ctas-button,
.ctas-button-2 {
	display: inline-block;
	height: 40px;
	line-height: 38px;
	padding: 0 30px;
	background: #fff;
	border-radius: 3px;
	font-size: 15px;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: .3px;
	border: 1px solid white;
	text-decoration: none;
}
.ctas-button-2 {
	background: transparent;
	color: white;
	margin: 0 0 0 10px;
}
@media (max-width: 440px) {
	.ctas-button,
	.ctas-button-2 {
		display: block;
		width: 100%;
		text-align: center;
	}
	.ctas-button-2 {
		margin: 10px 0 0 0;
	}
}.footer {
	padding: 90px 0 45px;
}
.footer .footer-nav {
	padding-top: 90px;
}
.footer .nav-link {
	display: inline-block;
	margin: 0 10px;
}
.footer a {
  color: #000000;
  text-decoration: none; /* no underline */
}
.ctas-button,
.ctas-button-2 {
	display: inline-block;
	height: 40px;
	line-height: 38px;
	padding: 0 30px;
	background: #fff;
	border-radius: 3px;
	font-size: 15px;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: .3px;
	border: 1px solid white;
	text-decoration: none;
}
.ctas-button-2 {
	background: transparent;
	color: white;
	margin: 0 0 0 10px;
}
@media (max-width: 440px) {
	.ctas-button,
	.ctas-button-2 {
		display: block;
		width: 100%;
		text-align: center;
	}
	.ctas-button-2 {
		margin: 10px 0 0 0;
	}
}
.feature4 {
	padding: 20px 0;
}
.feature4 .heading {
  padding-bottom: 90px;
}
.feature4 .steps {
  padding: 20px 0px;
}
@media (max-width: 900px) {
	.feature4 .sidedevices {
		min-height: inherit;
		margin-top: 60px;
	}
	.feature4 .flex {
		flex-direction: column;
	}
	.feature4	.col-5,
	.feature4	.col-6 {
		width: 100%;
	}
  .feature4 .heading {
    padding-bottom: 20px;
  }
}

pre {
	font-family: monospace;
	font-style: normal;
	font-variant: normal;
  font-size: 17px;
  line-height: 32px;
  background-color: #f9f9f9;
  padding: 10px;
}

.hero {
  max-width: 600px;
  margin: 0 auto;
}

@media (max-width: 900px) {
  .hero img {
    width: 100%;
  }
}

.terminal-window {
  text-align: left;
  max-width: 100%;
  width: 600px;
  height: 360px;
  border-radius: 10px;
  margin: auto;
  position: relative;
}

.terminal-window header {
  background: #E0E8F0;
  height: 30px;
  border-radius: 8px 8px 0 0;
  padding-left: 10px;
}

.terminal-window header .button {
  width: 12px;
  height: 12px;
  margin: 10px 4px 0 0;
  display: inline-block;
  border-radius: 8px;
}

.terminal-window header .button.green {
  background: #3BB662;
}

.terminal-window header .button.yellow {
  background: #E5C30F;
}

.terminal-window header .button.red {
  background: #E75448;
}

.terminal-window section.terminal {
  color: white;
  /*font-family: Menlo, Monaco, "Consolas", "Courier New", "Courier";*/
  font-family: monospace;
  font-size: 11pt;
  background: #30353A;
  padding: 10px;
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  top: 30px;
  bottom: 0;
  overflow: auto;
}

.terminal-window section.terminal .typed-cursor {
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

.terminal-data { display: none; }
.terminal-window .gray { color: gray; }
.terminal-window .green { color: green;}
.repo-link {
  margin-top: 30px;
}
html, body {
    max-width: 100%;
    overflow-x: hidden;
}
